bcrypt
blinker
click
dnspython
email-validator
flask
Flask-Bcrypt
Flask-Login
Flask-Mail
flask-sqlalchemy
Flask-WTF
flask-uploads
greenlet
idna
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
Pillow
SQLAlchemy
typing-extensions
werkzeug
WTForms
zipp
Werkzeug==0.16.0
